body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.patient-img2{
  margin-top: 10%;
    width: 100%;
}
span{
  margin-left: 23%;
}

.header-div{
  width: 100%;
  height: 10vh;
  background-color: #8BC8DB;
}

.header-text{
  color:white;
  text-align: center;
  padding-top: 1%;
}